
@import "general-style.scss";

.s1 {
    border: 1px solid #ff0000;
}

.s2 {
    border: 1px solid #ffee00;
}

.s3 {
    border: 1px solid #1eff00;
}

.s4 {
    border: 1px solid #00ccff;
}

.s5 {
    border: 1px solid #e100ff;
}
