
@import "general-style.scss";

h1 {
    width: max-content;
    height: auto;
    margin: 10px;
    padding: 10px;
    background: #cccccc;
    font-family: Georgia, "Times New Roman", Times, serif;
}

span {
    padding: 5px;
    color: #ff0000;
    background: #ffffff;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

img {
    max-width: 100%;
    border: 1px solid #ff0000;
}
