
@import "general-style.scss";

.title {
    margin: 10px auto;
}

.accept {
    width: 64px;
    height: auto;
    border-radius: 6px;
}

.card {
    width: 64px;
    height: auto;
}

.p1 {
    color: blueviolet;
}
