$b : 1px solid #f00;

// 
// Contenedor principal
// 
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #424242;
    font-family: Roboto;
    font-size: 12px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

header, nav, footer, section, article, div {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
 *
 * Common
 * 
 */

.news__more {
    float: right;
    color: #333333;
    font-size: 0.8em;
    text-decoration: none;
}

/*
 *
 * Header
 *
 */

.header {
    min-height: 56px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    transition: min-height 0.3s;
}

.header__inner {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.header__logo {
    height: 72px;
    margin-top: 12px;
    margin-right: 1em;
    vertical-align: top;
}

.header__title {
    display: inline-block;
    margin: 0.5em 0.25em;
    color: #212121;
    font-size: 4em;
    font-weight: 300;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.nav__list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;
    box-sizing: border-box;
    width: 24%;
    padding: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.nav a {
    padding: 1.5em;
    color: #616161;
    text-decoration: none;
}

.nav a:hover {
    color: #212121;
    text-decoration: underline;
}

/*
 *
 * Main
 *
 */

main {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

/*
 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */
.hero {
    width: 100%;
    position: relative; // desplaza el elemento pero mantiene el espacio disponible
    height: 300px;
    background-image: url("../images/dog.jpg");
    background-size: cover;
}

.hero article {
    // desplaza el elemento pero no mantiene el espacio disponible
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    padding: 1em;
    color: #ffffff;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
}

/*
 *
 * Top News
 *
 */

//  define el ancho
.top-news {
    height: 300px;
    padding: 1em;
    border-bottom: 1px solid #e0e0e0;
}

// define tipo de fuente y la separacion
.news__title {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    border-bottom: 1px solid #e0e0e0;
}

// define el espacio de los elementos , altura
.top-news__item {
    padding: 1em 0;
    line-height: 19.2px;
    border-bottom: 1px solid #e0e0e0;
}

.top-news__item:before {
    content: ">";
}

.top-news__item:last-child {
    border-bottom: none;
}

.top-news__item a {
    color: #666666;
    text-decoration: none;
}

.top-news__item a:hover, .top-news__item a:active {
    text-decoration: underline;
}

/*
 *
 * Sport Scores
 *
 */

//  Tabla contenedor de los deportes
.scores {
    padding-top: 1em;
}

// Anchura de los elementos
.scores__table {
    width: 100%;
    border-collapse: collapse;
}

.thead__tr--cabecera {
    text-transform: capitalize;
}

.scores__table th, .scores__table td {
    padding: 1em;
}

.scores__table th {
    color: #ffffff;
    background-color: #78909c;
    font-weight: 300;
}

.scores__table tr:nth-child(odd) td {
    background-color: #ffffff;
}

.scores__table tr:nth-child(even) td {
    background-color: #eceff1;
}

.scores__table td.winner {
    font-weight: bold;
}

.scores__table td:nth-child(3) {
    text-align: right;
}

.scores__table td:nth-child(2), .scores__table td:nth-child(5) {
    text-align: center;
}

/*
 *
 * Weather
 *
 */

//  Contenedor seccion del tiempo
.weather {
    padding: 1em;
}

// Titulo
.weather__location {
    display: block;
    font-size: 1.5em;
    font-weight: 300;
}

// SubTitulo
.weather__desc {
    display: block;
    font-size: 1.2em;
}

// Subcontenedor de imagen del tiempo
.weather__today {
    width: 60%;
    vertical-align: middle;
}

.weather__today__image {
    vertical-align: middle;
}

.weather__today__temp {
    font-size: 3em;
}

.weather__today__deg {
    display: inline;
    font-size: 2em;
}

// estilo añadido por mi
.weather__next{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

// elemento texto 'Mon' imagen temp
.weather__next__item {
    display: inline-block;
    width: 20%;
    text-align: center;
}

// Texto encima de la imagenes del tiempo
.weather__next__item span {
    display: block;
}

// Imagen del tiempo
.weather__next__image {
    width: 100%;
    height: auto;
}

/*
 *
 * Recent News
 *
 */

.recent-news {
    // Deja espacio libre de elementos en ambos sentidos 'izq' y 'der'
    clear: both;
    padding: 1em;
}

.snippet {
    // Deja espacio libre de elementos en ambos sentidos 'izq' y 'der'
    clear: both;
    margin: 24px 0;
}

.snippet__thumbnail {
    float: left;
    width: 100px;
    margin-right: 1em;
}

.snippet__title {
    font-weight: 500;
}

.snippet__title a {
    color: #666666;
    text-decoration: none;
}

.snippet__title a:hover, .snippet__title a:active {
    text-decoration: underline;
}

/*
 *
 * Footer
 *
 */
footer {
    width: 100%;
    padding: 1em;
    border-top: 1px solid #e0e0e0;
}

footer li {
    display: inline-block;
    margin: 0 1em;
}

footer a {
    padding: 1.5em;
    color: #333333;
    text-decoration: none;
}