/* 
    Created on : 02-oct-2019, 9:31:30
    Author     : RVS
*/

body{
  background-color: #f9d5bb;
}

.top-header{
  width: 50%;
  padding: 0.5%;
  margin: 0 auto;
  background-color: #d35656;
}

.title-center{
  width: 55%;
  padding: 2%;
  margin: 1% auto;
  font-size: 2em;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  background-color: #f9d5bb;
}

.box-font-boosting{
  width: 80%;
  height: auto;
  padding: 1%;
  margin: 2% auto;
  border: 1px solid red;
  background-color: #3c3d47;
  color: #fff;
}

.title__font-boosting{
  width: 80%;
  height: auto;
  margin: 2% auto;
  text-align: center;
  font-size: 32px;
}

.paragraph__font-boosting{
  width: 80%;
  margin: 1% auto;
  padding: 1%;
  height: auto;
  text-align: center;
  font-size: 26px;
}
