/* 
    Created on : 01-oct-2019, 23:50:22
    Author     : RVS
*/

body{
  background-color: #f66767;
}

.top-header{
  width: 100%;
}

.box-800px , .box-1280px , .paragraph-800px , .paragraph-1280px{
  display: none;
}

.box-1600px{
  width: 50%;
  margin: 1% auto;
}

.paragraph-1600px{
  width: 30%;
  padding: 1%;
  margin: 1% auto;
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-family: 'Roboto' , sans-serif;
  background-color: #3c3d47;
}