/* 
    Created on : 01-oct-2019, 23:50:22
    Author     : RVS
*/

.box-1280px {
  width: 50%;
  margin: 1% auto;
}

.paragraph-1280px {
  width: 70%;
  padding: 1%;
  margin: 1% auto;
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-family: 'Roboto' , sans-serif;
  background-color: #3c3d47;
}

.box-800px , 
.box-1600px{
  display: none;
}