
*{
    background: #000;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
    border-radius: 6px;
}

.box{   
    width: 100%;
    height: auto;
    min-height: 150px;
    color: #fff;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.dark_blue{
    background-color: #2A457A;
    color: #efefef;
}

.light_blue{
    background-color: #099DD9;
}

.green{
    background-color: #0C8542;;
}

.lime {
    background-color: rgb(179, 210, 52);
}
  
.seafoam {
    background-color: rgb(77, 190, 161);
}
  
.red {
    background-color: #EC1D3B;
}
  
.orange {
    background-color: #F79420;
}

@media screen and (min-width: 320px){

    .light_blue{
        min-height: 220px;
    }
    
    .green{
        min-height: 220px;
    }

}

@media screen and (min-width: 450px){

    .light_blue{
        width: 50%;
    }
    
    .green{
        width: 50%;
    }
    
}

@media screen and (min-width: 550px){
    
    .dark_blue , .light_blue{
        width: 50%;
    }
    
    .green , .red , .orange {
        width: 33.333333%;
    }

}

@media screen and (min-width: 700px){
 
    .container{
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

}
